/** COLORS ***/

:root {
  --bg: #131313;
  --fg: #ffffff;
  --dark: rgb(9, 9, 9);

  --outline: rgb(232 232 232/14%);
  --blue: #6fb0ec;

  --active: var(--fg);
  --inactive: rgb(181, 181, 181);
  --inactive-btn: rgb(148, 148, 148);
  --hover: rgb(211, 211, 211);

  --side-padding: 2rem;
  --padding: 1rem;
  --border-radius: 1rem;
}



/*** DEFAULTS ***/

html, body, #root, .app {
  display: flex;
  height: 100%;
  width: 100%;

  flex-direction: column;

  background: var(--bg);
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

label, p {
  color: var(--fg);
}

.mobile {
  display: none !important;
}

/****************** SCROLLBAR ******************/

::-webkit-scrollbar {
  width: .4rem;
  height: .4rem;
}

::-webkit-scrollbar-track {
  background: #313131;
}

::-webkit-scrollbar-thumb {
  background: #888888;
}

::-webkit-scrollbar-thumb:hover {
  background: #737373;
}

/*** QUICK FORMATTING ***/

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-split { display: flex}
.flex-split > * { flex-basis: 50%; }

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-middle {
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-fill {
  flex: 1 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-reverse {
  flex-direction: column-reverse;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bold {
  font-weight: bold !important;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}


.super {
  font-size: 10rem;
  font-weight: 500;
}

.large {
  font-size: 2.1rem;
}

.big {
  font-size: 1.6rem;
}

.medium {
  font-size: 1.2rem;
}

.small {
  font-size: .9rem;
}

.tiny {
  font-size: .7rem;
}

.text-btn {
  display: flex;
  align-items: center;
  background: none;
  color: var(--inactive);
  transition: all .5s ease;
}

.text-btn:hover {
  color: var(--active);
}

.pointer {
  cursor: pointer;
}

.inactive {
  color: var(--inactive);
}

.white {
  color: var(--fg);
}

.gray-bg {
  background: gray;
}

.panel {
  padding: var(--side-padding);
  background: var(--bg);
}

/*** RESTRICT ***/

.restrict {
  align-items: center;
}

.restrict > * {
  max-width: 75rem;
  width: calc(100% - 2 * var(--side-padding));
}

/*** GENERIC FLOAT IMAGES ***/

.float-images .image-wrapper {
  position: relative;
  height: min-content;
  flex-direction: column;
}

.float-images .image-wrapper:before {
  content: "";
  padding-bottom: 100%;
}

.float-images img {
  position: absolute;
}

/*** PLUS BUTTON ***/

.plus-btn {
  position: relative;
  color: white;
  overflow: hidden;
  justify-content: center;
  background: var(--bg);
  transition: background .5s ease;
}

.plus-btn::before {
  position: absolute;
  content: '+more';
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}


/*** GRAY BUTTON ***/

.gray-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 1.8rem;
  background: var(--inactive-btn);
  transition: background .5s ease;
  color: var(--bg);
}


.gray-btn:hover:not(.selected) {
  background: var(--hover);
}

.round {
  border-radius: var(--border-radius);
}

/*** FADE ***/
.fade {
  position: relative;
}

.fade::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events   : none;
  background-image: linear-gradient(to bottom, transparent, var(--bg));
  width: 100%;
  height: 100%;
}

/*** IMAGE ***/

.image-wrapper {
  display: flex;
  overflow: hidden;
  height: fit-content;
  align-items: center;
  color: var(--fg);
  justify-content: center;
}

.image-wrapper > img {
  width: 100%;
  transition: transform .5s ease;
  object-fit: cover;
}

.image-wrapper.hover:hover > img {
  transform: scale(1.2);
}

/*** OPTIONS ***/

.options-panel {
  user-select: none;
}

.options-panel .medium {
  padding-bottom: var(--padding);
}

.options-panel .options {
  display: flex;
  width: min-content;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.options-panel .options .selected {
  background: white;
}

.options-panel .options button {
  padding: .3rem;
}

.options-panel .options button img {
  height: 100%;
}

.options-panel .options button:not(:last-child) {
  margin-right: .2rem;
}

.options-panel > p {
  margin-bottom: 1rem;
}


/*** IMAGES ***/

.images {
  display: flex;
  flex-wrap: wrap;
  background: var(--dark);
}

.images .image-wrapper {
  position: relative;
  flex-basis: 10%;
  height: min-content;
  flex-direction: column;
}

.images .image-wrapper:before {
  content: "";
  padding-bottom: 100%;
}

.images img {
  position: absolute;
} 

/*** ALERT ***/

.alert {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 100;
  margin: 0 !important;
}

.alert ~ * {
  filter: blur(.1rem);
  transition: filter .5s ease;
}

.alert .message {
  background: var(--bg);
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: var(--border-radius);
}

.alert button {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 1.8rem;
  width: 4rem;
  background: var(--inactive-btn);
  transition: background .5s ease;
  border-radius: 1rem;
  margin-top: 1rem;
  color: var(--bg);
}

.alert button:hover {
  background: var(--hover);
}

/*** MAIN PAGE ***/

.app {
  background: var(--bg);
}

.main {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  overflow: hidden;
}


/*** LOGIN **/

.login {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  color: var(--fg);
  padding-bottom: 3rem;
}

.login .primary, .login .info {
  align-items: center;
}

.login .primary {
  flex: 1 1;
  justify-content: center;
}

.login .login-btn {
  font-weight: bolder;
  color: var(--fg);
  background: #212121;
  border: solid #212121;

  transition: color 1s ease;

  border-width: .5rem;
  padding: 0 1rem 0 1rem;
  border-radius: 2rem;
  text-decoration: none;
  margin-bottom: .8rem;
}

.login .demo-btn {
  background: none;
  color: var(--fg);
  border: none;
  text-decoration: underline;
}

.login .login-btn:hover, .login .demo-btn:hover {
  color: var(--blue);
  transition: all 1s ease;
}

.login .spacer {
  margin: 0 .5rem;
}



/*** NAV ***/

.nav {
  display: flex;
  flex-direction: column;
  color: var(--active);
  padding: 0 var(--side-padding);
}

.nav span {
  display: flex;
  justify-content: space-evenly;
}

.nav .title label {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.nav button {
  display: flex;
  background: none;
  color: var(--inactive);
  transition: color .5s ease;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.nav .options {
  width: 100%;
  padding: 0 7vw;
}

.nav .options button {
  flex: 1 1;
}

.nav .options .selected, .nav button:hover {
  color: var(--active);
}

/*** PROFILE ***/

.profile {
  display: flex;
  padding: 1rem var(--side-padding);
}

.profile .image-wrapper {
  width: 5rem;
  border-radius: 100%;
}

.profile .description {
  padding: 0 2rem;
}

/*** SUMMARY ***/

.summary .mobile-flex {
  padding-bottom: 0;
}

.summary,
.summary.page > *:not(.cards):not(.images):not(.float-images):not(header):not(.alert) {
  background: var(--dark);
  margin: 0;
}

.summary > *:not(header) > *:not(.float-images) {
  margin-left: var(--side-padding);
  margin-right: var(--side-padding);
}

.summary > header {
  margin-left: var(--side-padding);
  margin-right: var(--side-padding);
}

.summary > * {
  padding-bottom: var(--side-padding);
}

.summary .flex > .image-wrapper {
  flex-basis: 40%;
}

.summary .panel.large {
  margin-top: var(--side-padding);
}

.summary .float-images:last-child {
  margin-top: var(--side-padding);
}

.summary .float-images {
  cursor: pointer;
}

.summary .float-images:hover .plus-btn {
  background: var(--inactive);
}

.summary .panel p {
  margin-bottom: 1rem;
}

.summary .stats > * {
  flex-basis: 33%;
  margin-bottom: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.summary .stats label span:not(:first-child) {
  align-items: flex-end;
  color: var(--inactive);
  font-size: .75em;
  margin-top: .3em;
}

.summary .stats button {
  margin-top: 1rem;
}

.summary .chart {
  margin-right: var(--side-padding)
}

.stats.genres > label {
  cursor: pointer;
}

/*** CHART ***/

.chart .row {
  align-items: center;
}

.chart .row:not(:last-child) {
  margin-bottom: .5rem;
}

.chart .row label {
  width: 9em;
  flex-shrink: 0;
}

.chart .row .bar {
  height: .5em;
  overflow: visible;
  align-items: center;
}

.chart .row .color {
  background: var(--inactive);
  border-radius: var(--border-radius);
  transition: width .5s ease;
  height: 100%;
  margin-right: .5rem;
}


/*** NOW PLAYING ***/

.now-playing {
  display: flex;
  padding: 0 var(--side-padding);
  margin-top: 2rem;
}

.now-playing .image-wrapper {
  max-width: 40%;
}

.now-playing .description,
.now-playing-widget .description {
  padding: 0 0 0 var(--side-padding);
  flex: 1 1;
}

.now-playing .description > *:not(:last-child) {
  margin-bottom: 2rem;
}

.now-playing .icon {
  width: 10rem;
}

.now-playing-widget .title {
  padding-bottom: var(--padding);
}

.now-playing-widget .image-wrapper:not(.icon) {
  width: 8rem;
}

.now-playing-widget .icon {
  width: 6rem;
  margin-right: var(--side-padding);
}

.now-playing-widget span {
  display: flex;
}

.now-playing-widget button {
  margin-bottom: var(--padding);
}

/*** PAGE ***/

.page {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  overflow: auto;
  background: var(--dark);
}

.page header > * {
  margin-top: var(--side-padding);
}

.page .flex .options-panel:not(:last-child) {
  margin-right: 2rem;
}

.page > *:not(header) {
  margin-top: var(--side-padding);
}

.page > *:not(.cards):not(.images):not(.float-images) {
  margin-left: var(--side-padding);
  margin-right: var(--side-padding);
}
/* 
.page > .cards, .page > .images {
  background: var(--bg);
} */

/*** CARDS ***/

.cards {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  background: var(--dark);
}

.cards > * {
  padding: var(--side-padding);
}

.cards .description {
  flex: 1 0;
  padding-left: 1.5rem;
}

.cards .description .large {
  padding-bottom: 1rem;
}

.cards .description .medium {
  padding-bottom: .3rem;
}

.cards .image-wrapper:not(.icon) {
  width: 10rem;
  height: 10rem;
  background: black;
}

.cards .image-wrapper.icon {
  margin-top: 1rem;
  width: 7rem;
}

.track-card button {
  display: flex;
  height: 1.2rem;
  align-items: flex-end;
  background: none;
  color: var(--inactive);
  transition: color .5s ease;
  margin-top: 1rem;
}

.track-card button:hover {
  color: var(--active);
}

.track-card .labels {
  flex: 1 1;
}

.track-card .grid {
  margin-top: var(--side-padding);
}

.track-card .grid label {
  padding-bottom: .3rem;
}

/*** GENRES ***/

.genres-panel .buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.genres-panel .buttons > * {
  height: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  cursor: pointer;
}

.genres-panel .buttons button {
  border-radius: 2rem;
}

.genres-panel .buttons .selected {
  background: var(--active);
  color: var(--bg);
  padding: 0 1rem;
}

/*** ATTRIBUTES ***/

.attribute {
  margin: 1.2rem 0;
  flex-shrink: 0;
}

.attribute .flex {
  justify-content: space-between;
}

.attribute .description label {
  margin-bottom: .5rem;
}

.attribute .slider-label {
  flex-basis: 3%;
}

.attribute .slider-label:first-child {
  text-align: right;
}

.attribute input[type=range] {
  flex: 1 1;
}

.attribute .minmax-label {
  width: 2rem;
}

.attribute .slider {
  flex: 1 1;
}

.attribute input[type=range] {
  height: 3px;
  align-self: center;
  cursor: pointer;
  border-radius: 2rem;
}

/*** SCOPE ***/

.search {
  border-radius: 2rem;
  padding: .5rem 0;
  text-align: center;
  border: none;
  outline: none;
  color: var(--bg);
}

.images.selected {
  margin: var(--side-padding) 0 0;
}

.images.selected .image-wrapper {
  flex-basis: 20%;
  background: black;
}

.hover-select, .hover-deselect {
  position: relative;
  transition: background .3s ease;
}

.hover-select *, .hover-deselect * { cursor: pointer; }
.hover-select:hover, .hover-deselect:hover { background: var(--bg); }
.hover-select:hover::after { content: "+"; }
.hover-deselect:hover::after { content: "-"; }

.hover-select:hover::after, .hover-deselect:hover::after {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  right: 50%;
  font-size: 10rem;
  align-items: center;
  height: 6rem;
  color: var(--active);
  cursor: pointer;
}

/*** LOAD ***/

.load {
  width: 15rem;
  height: 15rem;
  border: .5rem var(--active) solid;
  border-right: .5rem transparent solid ;
  border-radius: 50%;
  animation: spin .75s linear infinite;
  margin: auto !important;
  background: transparent !important;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


/*** BURGER ***/
.burger-btn {
  justify-content: flex-end !important;
  width: 4rem;
  font-weight: bold;
  font-size: 1.3rem;
  height: 2.5rem !important;
}

