@media only screen 
  and (max-width: 1000px) {


  /*** DEFAULTS ***/

  :root {
    --side-padding: 1.2rem;
    --padding: .5rem;
  }

  .mobile {
    display: inherit !important;
  }

  .desktop {
    display: none !important;
  }

  /*** NAV ***/

  .mobile-flex.flex-wrap {
    flex-wrap: none;
  }

  .mobile-flex, .genres-panel {
    flex-direction: column !important;
    flex-shrink: 0;
  }

  .mobile-flex > *:not(:last-child) {
    margin-bottom: var(--side-padding);
  }

  .super {
    font-size: 20vw;
    font-weight: 500;
  }

  .large {
    font-size: 1rem;
  }

  .big {
    font-size: 1rem;
  }

  .medium {
    font-size: .8rem;
  }

  .small {
    font-size: .8rem;
  }

  .tiny {
    font-size: .7rem;
  }

  /*** PAGE AND OPTIONS ***/

  .page .flex .options-panel:not(:last-child) {
    margin-right: 0 !important;
  }

  .options-panel .options {
    flex: 1 1;
    width: 100%;
  }

  .gray-btn {
    flex: 1 1;
  }

  .gray-btnbutton:hover:not(.selected) {
    background: var(--inactive);
  }

  .genres-panel .buttons {
    grid-template-columns: repeat(2, 1fr);
  }

  .genres-panel .overflow-false .overflow {
    display: none;
  }

  .genres-panel > .overflow-btn {
    margin: var(--side-padding) 0;
  }

  /*** NAV ***/

  .mobile-options {
    z-index: 100;
    flex-direction: column;
    position: absolute;
    top: 2.5rem;
    width: 45%;
    padding-right: 1rem;
    bottom: 0;
    right: 0;
    display: flex;
    background:  var(--dark);
    animation: slide-left .3s ease forwards;
  }

  .mobile-options button {
    justify-content: flex-end;
    font-size: 1rem;
    padding: 1rem 0;
  }

  .mobile-options ~ .back {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
  }

  .nav {
    padding: 0 .75rem;
  }

  .nav button {
    height: unset;
  }

  .mobile-options .selected {
    color: var(--active);
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  /*** CARDS ***/

  .images {
    margin-bottom: 2rem;
  }

  .images .image-wrapper {
    flex-basis: 20%;
  }

  .cards > * {
    flex-shrink: 0;
  }
  
  .cards .image-wrapper:not(.icon) {
    width: 6rem;
    height: 6rem;
  }

  .cards .description {
    padding-left: var(--side-padding);
  }

  
  .cards .description .large {
    padding-bottom: .2rem;
  }

  .cards .description .medium {
    padding-bottom: .1rem;
  }

  .cards .image-wrapper.icon {
    margin-top: .1rem;
    width: 3.5rem;
  }

  .track-card button {
    margin-top: .5rem;
    height: 1rem;
    font-size: .8rem;
  }

  /*** NOW PLAYING ***/

  .now-playing {
    display: flex;
    flex-direction: column;
    padding: 0 var(--side-padding);
    margin-top: var(--side-padding);
  }
  
  .now-playing .image-wrapper {
    max-width: 100%;
  }
  
  .now-playing .description {
    padding: var(--side-padding) 0;
    flex: 1 1;
  }

  .now-playing .description > *:first-child {
    font-size: 2rem;
  }

  
  .now-playing .description > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  .now-playing .icon {
    width: 6rem;
  }

  .now-playing-widget .image-wrapper:not(.icon) {
    width: 6rem;
  }

  .now-playing-widget .icon {
    width: 3.5rem;
  }

  .now-playing-widget .big {
    padding-bottom: .2rem;
  }

  .hover-select:hover::after, .hover-deselect:hover::after {
    font-size: 5rem;
  }
    
  .summary .stats > * {
    flex-basis: 50%;
  }

  .plus-btn {
    font-size: .6em;
  }

  .mobile-share-options button:first-child {
    display: flex;
  }
  
  @keyframes slide-left {
    0% { margin-right: -45vw; }
    100% { margin-right: 0vw;  }
  }
}