/****************** ELEMENT DEFAULTS ******************/

:root {
  --bg-dark: #212121;
  --bg-darker: #131313;
  --bg-light: #efefef;
  --bg-outline: rgb(232 232 232 / 14%);

  --btn: #9d9d9d; 
  --btn-alt: #5f5f5f;
}


* {
  margin: 0;
  padding: 0;

  transition: padding 1s;
  transition: opacity 1s;
  transition: color 1s;
  transition: background 1s;
  transition: border 1s;

  font-family: sans-serif;
  box-sizing: border-box;
}

/********* SPECIAL DEFUALTS*********/


div {
  min-height: fit-content;
}

a[href] {
  text-decoration: none;
  cursor: pointer !important;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.link-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


/********* IMAGES *********/

img {
  box-shadow: 0 2px 6px 0 rgb(255 255 255 / 0%);
  transition: box-shadow 1s ease;
  border-radius: .2rem;
}

/* apply to image to stretch to parent entirely if dimensions < parent width */
.img {
  width: 100%;
  overflow: hidden;
  margin: 0em 0 .5em 0;
}

.img--medium {
  width: 7em;
  height: 7em;
  align-self: center;
}

.img--small {
  width: 7em;
  height: 7em;
}


/********* CURSOR *********/

.noclick {
  pointer-events: none;
}

.nopadding {
  padding: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-help {
  cursor: help !important;
}



/****************** ICON ******************/

.glass-btn {
  overflow: hidden;
}

.glass-btn img {
  height: 1rem;
  width: 1rem;
  filter: invert(1);
}



/****************** SCROLLBAR ******************/

::-webkit-scrollbar {
  width: .4rem;
  height: .4rem;
}

::-webkit-scrollbar-track {
  background: #313131;
}

::-webkit-scrollbar-thumb {
  background: #888888;
}

::-webkit-scrollbar-thumb:hover {
  background: #737373;
}


/****************** ANIMATION ******************/

@keyframes drop {
  from {
    margin-top: -2rem;
  }
  to {
    margin-top: 0rem;
  }
}

.animate-drop { 
  animation-name: drop;
  animation-duration: .3s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes load {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.animate-load {
  width: 2rem;
  height: .4rem;
  align-self: center;
  border-radius: 100rem;
  background: var(--bg-light);
  animation: load 1s infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
  opacity: .7;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 2s infinite linear;
}


/* set hide by default then toggle show */
.hide {
  opacity: 0  !important;
  transition: opacity 2s ease !important;
}

.show {
  opacity: 1  !important;
  transition: opacity 2s ease !important;
}

.progressbar {
  width: 100%;
}

/****************** SPECIFICS ******************/


/********* BOUNDARIES *********/

.max-width {
  width: 100% !important;
}

.min-width {
  width: min-content !important;
}

/********* COLOR AND STYLE *********/

.hover-shadow, .img:hover, .img--small:hover, .img--medium:hover {
  box-shadow: 0 0 .8rem .1rem rgb(0 0 0 / 27%);
  transition: box-shadow .3s ease;
}

.label-bold {
  font-weight: bold !important;
}

.label-italic {
  padding-top: .5rem;
  font-style: italic;
}

.label-underline {
  text-decoration: underline;
}


/********* LABELS *********/

label {
  color: var(--bg-light);
}

.label-super {
  font-size: 10em;
  font-weight: 500;
  transition: all 1s;
}

.label-tiny {
  font-size: .7em;
  font-weight: bold;
}


.label-title {
  font-size: 1.4em;
  font-weight: 500;
}

.label-subtitle {
  font-size: 1.4rem;
  font-weight: bold;
}


.label-large {
  font-size: 2.4em;
  font-weight: bold;
}

.label-sublarge {
  font-size: 1.7em;
  font-weight: bold;
}

.label-medium {
  font-size: 1.2rem;
  font-weight: bolder;
}

.label-small {
  font-size: .9rem;
}

.label-subtext {
  font-size: 1em;
  font-weight: bold;
}



.label.side {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  align-items: center;
}

.label-nopadding {
  padding: 0 !important;
}

.label-center {
  padding-top: .5rem;
  text-align: center;
}

.label-left {
  text-align: left;
}

.label-right {
  text-align: right;
}


.label-padding--bottom,
.label-subtitle,
.label-large,
.label-sublarge,
.label-medium {
  padding-bottom: .5rem;
}

.label-padding--bottom-small,
.label-small,
.label-subtext,
.label-tiny {
  padding-bottom: .2rem;
}

/********* MAIN CONTAINER *********/


.page {
  display: flex;
  height: 100%;
  background: var(--bg-darker);
  flex-direction: column;
  overflow: hidden;
}


/********* FRONT PAGE *********/

.div-frontpage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  padding: 2vh 10rem 2vh 10rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.sign {
  color: var(--bg-light);
  transition: color 1s ease;
}

.sign:hover {
  color: #6fb0ec;
  transition: all 1s ease;
}

.sign-background {
  background: var(--bg-dark);
  border: solid var(--bg-dark);
  border-width: .5rem;
  padding: 0 1rem 0 1rem;
  border-radius: 2rem;
  text-align: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1.5rem;
}




/********* NAVBAR *********/

.top {
  display: flex;
  text-align: left;
  height: 3rem;
  width: 100vw;

  padding: 0rem 2rem 0rem 2rem;
  background: var(--bg-dark);
}

.top label {
  align-self: center;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 0 0 5vw;
  height: 100%;
  width: 100vw;
}

.nav-buttons {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.nav-buttons > button, .log-btn {
  min-height: 1.5em;
  min-width: 7vw;
  padding: .2rem;
  margin: .3rem .5vw .3rem .5vw;
  color: #ffffff;
  background: none;

  font-size: .85em;

  border: none;
  border-width: .2rem !important;

  transition: all .2s;
}

.nav-buttons > .selected {
  box-shadow: 0 3px 1px -2px white;
}

/********* DIVS *********/

.div-content {
  display: flex;
  height: 100%;
  width: 100%;
  background: var(--bg-darker);

  flex: 1 1;

  overflow: overlay;
}

.div-content label {
  color: var(--bg-light);
}


.div-sidebar, .div-panels {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 2rem 2rem;
  overflow: overlay;
  overflow-x: hidden;
  align-items: center;
  background: var(--bg-darker);
}

.div-sidebar {
  width: 29vw;
}

.div-panels {
  flex: 1 1;
}

.div-top-artists, .div-top-tracks, .div-recent, .div-tuner, .div-scope, .div-user-search, .div-info {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  width: 100%;
  position: relative;
}

.div-top-artists.compact, .div-top-tracks.compact {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}


.div-profile--info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/********* TRACKS *********/

.div-track {
  display: flex;
}

.div-track > .info {
  display: flex;
  flex-direction: column;
  padding: .5rem 0 .2rem 1rem;
  width: 100%;
}

.div-track > .info > .item {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: .3rem;
  width: 100%;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding-top: 1rem;
  opacity: 1;

  height: auto;
  max-height: 20rem;
  transition: opacity .5s, padding.3s, max-height .3s ease;
}

/* unused */
.drop-down {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: opacity .5s, padding .3s, max-height .3s ease, visible 0s;
}

.info-btn {
  border: none;
  border-width: 1px;
  border-radius: 1rem;
  font-size: .8rem;
  font-weight: 400;
  font-stretch: 200%;
  color: #797979 !important;
  transition: color .5s ease !important;
  background: none;
  transition: all .5s;
  padding-top: .2rem;
  width: 100%;
  text-align: center;
}

.info-btn:hover {
  color: var(--bg-light) !important;
  transition: color .5s ease !important;
}


/* for quick item separation in lists */
.grid-40-60, .grid-50-50, .grid-60-40 {
  display: grid;
  width: 100%; 
}

.grid-40-60 {
  grid-template-columns: 40% 60%;
}

.grid-50-50 {
  grid-template-columns: 50% 50%;
}

.grid-60-40 {
  grid-template-columns: 60% 40%;
}


/********* NOWPLAYING *********/



.nowplaying-full {
  display: grid;
  grid-template-columns: 40% 60%;
  padding-bottom: 1em;
}


.nowplaying-full > .nowplaying-info {
  padding: 0 0 0 2vw;
}


.nowplaying-info {
  display: flex;
  flex-direction: column;
  padding: .2rem;
  width: 100%;
}


.nowplaying-search {
  display: flex;
  align-items: center;
  padding-bottom: .5rem;
}

.nowplaying-search label {
  width: 100%;
  padding: 0;
}

.nowplaying-search button {
  border-radius: 2rem;
  min-height: 1.5rem;
  width: 4rem;
  margin: 0;
}

.nowplaying-search button img {
  height: 1rem !important;
  width: 1rem !important;
}

/********* NOWPLAYING CONTROL BUTTONS *********/

.controls > .buttons {
  display: flex;
  justify-content: center;
}

.controls > .buttons > .previous-btn, 
.controls > .buttons > .pause-btn,
.controls > .buttons > .skip-btn {
  display: flex;
  align-items: center;  
  padding: 0 .5em 0 .5em;
}

.controls > .buttons > .previous-btn {
  justify-content: flex-end;
}

.controls > .buttons > .pause-btn {
  justify-content: center;
}

.controls > .buttons > .skip-btn {
  justify-content: flex-start;
}

.controls > .buttons > .previous-btn > button, 
.controls > .buttons > .skip-btn > button {
  width: 2.6rem;
  height: 2.6rem;
}

.controls > .buttons > .pause-btn > button {
  width: 3rem;
  height: 3rem;
  font-size: 1rem !important;
  padding-bottom: .2rem;
}

.controls > .buttons > .previous-btn > button, 
.controls > .buttons > .pause-btn > button,
.controls > .buttons > .skip-btn > button {
  border: none;
  border-width: 1px;
  border-radius: 5rem;
  font-size: .7rem;
  font-weight: 900;
  color: #ffffff;
  background: var(--bg-dark);
  transition: all .5s;
  margin: .1rem 0 .1rem 0;
}

.controls > .buttons > .previous-btn > button:hover, 
.controls > .buttons > .pause-btn > button:hover,
.controls > .buttons > .skip-btn > button:hover {
  background: #212121d6;
  transition: all .1s ease;
}


/********* TUNER *********/


.div-genre-select {
  width: 100%;
}

.div-genre-select .genres {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem 1rem;
  padding: 1rem;
}


.div-genre-select .selected {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  width: 100%;
}

.div-attributes-select {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tuner-btn {
  margin: 1rem 0rem 0rem 0rem !important;
}

/********* SCOPE *********/

.div-scope > .selected {
  display: flex;
  flex-direction: column;
}

.div-scope > .selected > label {
  padding: 1rem 1rem .2rem 1rem;
}

.scope-btn {
  margin: -1rem 0rem 2rem 0rem !important;
}

.divider {
  margin-bottom: .6rem;
}

/********* SCOPE BUTTONS *********/

.add-btn, .sub-btn {
  position: absolute;
  border: none;
  border-width: 1px;
  border-radius: 1rem;
  font-size: .7rem;
  font-weight: 100;
  color: var(--bg-light);
  background: var(--bg-dark);
  transition: all .5s;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  z-index: 99;
}

.add-btn:hover {
  background: var(--btn);
  color: #ffffff;
}

.add-btn:hover, .sub-btn:hover {
  background: var(--btn-alt);
}

/********* USER SEARCH *********/

.div-user-search > .results {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  padding: 1rem;
}

.div-user-search > .results button {
  height: 2rem;
  margin-bottom: 1rem;
}

.nolist {
  height: 100%;
}

/********* LOAD *********/

.div-load {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 80%;
  flex: 1 1;
}


/********* OPTIONS *********/

.div-options.horizontal {
  display: flex;
  flex-direction: row;
}

.div-options.horizontal button:not(:last-child) {
  margin-right: .5rem;
}

.option-btn {
  display: flex;
  width: 100%;
  color: var(--bg-light);
  background: var(--bg-dark);

  padding: .4rem 0 .4rem 0;
  margin: .3rem 0 .3rem 0;

  align-items: center;
  justify-content: center;

  border: none;
  border-radius: .3rem;

  font-size: .9rem;
  font-weight: 100;

  transition: all .3s;
}

.option-btn:hover {
  background: var(--btn);
  color: #ffffff;
}

.option-btn:focus, .option-btn--selected {
  background: var(--btn-alt);
}



/********* PANEL *********/

.panel {
  display: flex;
  height: min-content;
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
  margin: .6rem 0 .6rem 0;
  
  flex-direction: column;
  text-align: left;
}

.panel * {
  color: #e6e6e6;
}

.panel:not(:last-child), .bottom-outline, .scope-wrapper:not(:last-child) > .panel {
  box-shadow: 0 4px 1px -2px var(--bg-outline);
}

.panel.attribute {
 display: flex;
}

.panel.attribute > .sliders {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.panel.horizontal {
  flex-direction: row;
}

.panel.compact {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1vmax;
  margin: 0;
  overflow: hidden;
}

.panel.compact > a {
  display: flex;
  overflow: hidden;
  position: relative;
}

.panel.compact a::before {
  display: in-lineblock;
  content: "";
  padding-bottom: 100%;
  vertical-align: top;
}

.panel.compact img {
  position: absolute;
  height: 100%;
  width: auto;
}

.noshadow {
  box-shadow: none !important
}

/********* INPUTS *********/

.input {
  border: solid #b1b1b1;
  border-radius: .5rem;
  border-width: .5px;
  margin: .3rem 0 .3rem 0;
  padding: .3rem;
  height: 2.3rem;
  width: 100%;
  transition: all .5s;
  text-align: center;
  font-size: 1.1rem;
  color: black;
}

.input:focus, .input:hover {
  outline: none;
  background: white;
}

.gray-btn {
  color: var(--bg-light);
  background: var(--bg-dark);
  border: none;
  border-radius: .3rem;
  font-size: .9rem;
  font-weight: 100;
  height: 2.5rem;
  transition: all .4s;
  width: 100%;
}

.gray-btn:hover {
  background: #585858;
}

.dark-btn {
  color: var(--bg-light);
  background: var(--bg-dark);
}
