/*************** ORIENTATION ***************/
.portrait {
  display: none;
}

@media only screen 
  and (max-width: 768px) {
 
  .landscape {
    display: none !important;
  }

  .portrait {
    display: initial;
  }


  .img--medium {
    width: 6em;
    height: 6em;
  }

  .img--small {
    width: 5em;
    height: 5em;
  }

  /*************** nav bar ***************/

  .top {
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    padding: .5rem 1rem .5rem 1rem;
    min-height: 0 !important;

    overflow: hidden;
    transition: height .3s ease;
  }

  .top-open {
    height: 100%;
  }

  .top-closed {
    height: 3rem;
  }

  .top-unselect {
    background: none;
    position: fixed;
    top: 50vh;
    height: 1;
    left: 0;
    width: 100%;
  }

  .top-title-bar {
    display: grid;
    max-height: fit-content;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .menu-btn--col {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .menu-btn {
    border: none;
    border-radius: .3rem;
    font-size: 1.3rem;
    font-weight: 100;
    height: 2.1rem;
    width: 2.1rem;
    color: var(--light);
    background: none;
    transition: all .5s;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding: 0 0 0 6vw;
    width: 100vw;
  }

  .nav-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: .5rem;
  }

  .nav-buttons > button, .log-btn {
    border: none;
    background: #373737;
    font-size: 1.1rem;
    font-weight: 100;
    height: 2.5rem;
    min-height: fit-content;
    width: 100%;
    color: gray;
    background: none;
    transition: all .1s;
    padding: .4rem .2rem .4rem .2rem;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);

    border-width: .1em !important;
    border-radius: .2rem;
  }

  .log-btn-container {
    display: flex;
    width: 100%;
  }

  .log-btn {
    width: 100%;
    border: none !important;
  }

  /*************** page ***************/

  .div-content {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    margin-top: 3rem;
    overflow: overlay;

    padding: 0rem 1rem 1rem 1rem;
    width: 100%;
  }

  .div-sidebar, .div-panels {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    flex: none;
  }

  .div-sidebar .panel{
    box-shadow: 0 4px 1px -2px var(--bg-outline);
  }

  .panel {
    padding: 0rem 1rem 1rem 1rem;
  }

  /*************** nowplaying ***************/

  .div-nowplaying--info-full {
    overflow: auto;
    max-height: 9rem;
  }

  /*************** track ***************/

  .features {
    grid-template-columns: 1fr;
  }
  
  /*************** tuner ***************/
  
  .div-genre-select .genres {
    grid-template-columns: repeat(3, 1fr);
    padding: .6rem;
  }

  .div-genre-select .selected {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding-bottom: 1rem;
  }

  .attribute .grid-60-40 {
    display: flex;
  }

  .attribute .grid-60-40 span {
    text-align: right;
    padding-right: .2rem;
    width: 100%;
  }

  /*************** scope ***************/

  .add-btn, .sub-btn {
    height: 2.2em;
    width: 2.2em;
  }

  .add-btn {
    right: .5rem;
  }


  /*************** options ***************/

  .option-btn {
    font-size: .9rem; 
  }

  .compact-btn::before, .list-btn::before {
    font-size: 1.6rem;
  }

  /****************** ICON ******************/

  .glass-btn img {
    height: .8rem;
    width: .8rem;
    filter: invert(1);
  }


  /*************** labels ***************/

  .title {
    text-align: left;
  }

  .label-super {
    font-size: 10em;
    font-weight: 500;
  }

  .label-title {
    font-size: 1.8em;
    font-weight: 500;
  }

  .label-subtitle {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: .5rem;
  }


  .label-large {
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: .5rem;
  }

  .label-sublarge {
    font-size: .9em;
    font-weight: bold;
    padding-bottom: .5rem;
  }

  .label-medium {
    font-size: .9rem;
    font-weight: bolder;
    padding-bottom: .5rem;
  }

  .label-small {
    font-size: .8rem;
    padding-bottom: .2rem;
  }

  .label-subtext {
    font-size: .5rem;
    font-weight: bold;
    padding-bottom: .2rem;
  }

  .label-tiny {
    font-size: .6rem;
    font-weight: bold;
    padding-bottom: .2rem;
  }


  /*************** front page ***************/

  .div-frontpage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20vh 0 30vh 0;
    text-align: center;
    align-items: center;
    font-size: 2vw;
  }

}