/*************** ORIENTATION ***************/
.portrait {
  display: none;
}

@media only screen 
  and (max-width: 768px) {
 
  .landscape {
    display: none !important;
  }

  .portrait {
    display: initial;
  }

/*   .panel:hover, .panel:focus {
    -webkit-transform: initial;
    transform: initial;
    background: none;
  } */

  .img--medium {
    width: 6em;
    height: 6em;
  }

  .img--small {
    width: 5em;
    height: 5em;
  }

  /*************** nav bar ***************/

  .top {
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    padding: .5rem 1rem .5rem 1rem;
    background: #2d2d2d;

    border-bottom: solid;
    border-width: 1px;
    border-color: #e1e1e1;

    overflow: hidden;
  }

  .top-open {
    background: #212121f7;
    height: 32rem;
    min-height: 0 !important;
    transition: height .5s ease, background .5s ease !important;
  }

  .top-closed {
    background: #2d2d2d;
    height: 4rem;
    min-height: 0 !important;
    transition: height .5s ease, background .5s ease !important;
  }

  .top-border {
    background: none;
    pointer-events: none;
    border-bottom: solid #373737;
    border-width: .1rem;
    z-index: 100;
    width: 100vw;
    height: 4rem;
  }

  .top-unselect {
    background: none;
    position: fixed;
    top: 50vh;
    height: 1;
    left: 0;
    width: 100%;
  }

  .top-title-bar {
    display: grid;
    position: fixed;
    left: 0;
    width: 100vw;
    padding: 0 1rem 0 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .menu-btn--col {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .menu-btn {
    border: #7a7a7a;
    border-radius: .3rem;
    font-size: 1.5rem;
    font-weight: 100;
    height: 2.3rem;
    width: 2.3rem;
    color: #ffffff;
    background: #333333;
    transition: all .5s;
  }

  .menu-btn:hover {
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    color: #ffffff;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding: 0 0 0 6vw;
    width: 100vw;
  }

  .nav-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
  }

  .nav-btn {
    border: none;
    background: #373737;
    font-size: 1.1em;
    font-weight: 100;
    min-height: 2em;
    width: 100%;
    color: #ffffff;
    background: none;
    transition: all .1s;
    padding: .4rem .2rem .4rem .2rem;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    border-width: .1em !important;
    border-radius: .2rem;
  }

  .nav-btn:hover {
    border-width: .1em !important;
  }

  .selected {
    background: #2d2d2dd6;
  }

  .log-btn-container {
    display: flex;
    width: 100%;
  }

  .log-btn {
    width: 100%;
  }

  /*************** page ***************/

  .div-content {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    margin-top: 4rem;

    padding: .7rem;
    width: 100%;
  }

  .panel {
    width: 100%;
    margin-bottom: .7rem;
    padding: .5rem;
  }

  .div-sidebar {
    display: flex;
    width: 100%;
    padding: 0;
  }

  .div-secondary {
    display: flex;
    flex-direction: row;
  }

  .div-panels {
    margin: 0;
  }

  /*************** nowplaying ***************/

  .div-nowplaying--info-full {
    overflow: auto;
    max-height: 9rem;
  }
  
  /*************** tuner ***************/
  
  .div-genres {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem 1rem;
  }

  .div-selected-genres {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding-bottom: 1rem;
  }

  /*************** scope ***************/

  .div-selected-artists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .add-btn, .sub-btn {
    height: 2.2em;
    width: 2.2em;
  }

  .add-btn {
    right: .5rem;
  }


  /*************** labels ***************/

  .title {
    text-align: left;
  }

  .label-super {
    font-size: 10em;
    font-weight: 500;
    color: #212121;
    transition: all 1s;
  }

  .label-title {
    font-size: 2.5em;
    font-weight: 500;
    color: #212121;
  }

  .label-subtitle {
    font-size: 2rem;
    font-weight: bold;
    color: #212121;
    padding-bottom: .5rem;
  }


  .label-large {
    font-size: 1.6em;
    font-weight: bold;
    color: #212121;
    padding-bottom: .5rem;
  }

  .label-sublarge {
    font-size: 1em;
    font-weight: bold;
    color: #212121;
    padding-bottom: .5rem;
  }

  .label-medium {
    font-size: 1rem;
    font-weight: bolder;
    color: #212121;
    padding-bottom: .5rem;
  }

  .label-small {
    font-size: .8rem;
    color: #212121;
    padding-bottom: .2rem;
  }

  .label-subtext {
    font-size: .7rem;
    font-weight: bold;
    color: #212121;
    padding-bottom: .2rem;
  }

  .label-tiny {
    font-size: .6rem;
    font-weight: bold;
    color: #212121;
    padding-bottom: .2rem;
  }


  /*************** front page ***************/

  .div-frontpage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20vh 0 30vh 0;
    text-align: left;
    align-items: center;
    font-size: 2vw;
  }

  .sign {
    color: #ffffff;
    /*   border-bottom: solid #4493da; do not uncomment */
    transition: color 1s ease;
  }

  .sign:hover {
    /*   border-bottom: solid #4493da !important;  do not uncomment */
    color: #60a3e0;
    transition: color 1s ease;
  }

  .sign-background {
    background: #212121;
    border: solid #212121;
    border-width: .5rem;
    padding: 0 1rem 0 1rem;
    border-radius: 2rem;
    text-align: center;
  }
}