html, body, #root, .App {
  display: flex;
  height: 100%;
  width: 100%;

  flex-direction: column;

  background: var(--bg-darker);
}

@media (min-width: 1500px) {
  html {
    font-size: 115%;
  }
}